# Dependencias
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Variables de entorno / secretos
.env
.env.*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Editores / IDE
.vscode/
.idea/
*.swp

# Caché y temporales
.cache/
tmp/
*.tmp
